@model BE.articulo
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
    <div class="header-search-wrapper grey hide-on-large-only">
        <i class="mdi-action-search active"></i>
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">GESTIÓN DE ARTICULOS</h5>
                <ol class="breadcrumbs">
                    <li><a href='@Url.Action("Index","Home")'>Inicio</a></li>
                    <li><a href="@Url.Action("Index","Articulo")">Articulos</a></li>
                    <li class="active">Mantenimiento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<div id="default-validation" class="section">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4 class="header2">Datos del nuevo articulo</h4>
                <div class="row">
                    <form id="formValidate" class="validar" method="post" action='@Url.Action("Guardar","Articulo",new { href = ViewBag.href })'>
                        <input type="hidden" name="ArticuloId" value="@Model.ArticuloId" />
                        <div class="row">                            
                            @*<select id="ModeloId" name="ModeloId" >
                                <option value="1">Manager</option>
                                <option value="2">Developer</option>
                                <option value="3">Business</option>
                            </select>*@
                            
                            <div class="input-field col s12 m6 l6">
                                @Html.DropDownListFor(x => x.TipoArticuloId, new SelectList(ViewBag.cboTipoArticulo, "TipoArticuloId", "Denominacion"))
                                <label for="TipoArticuloId">TipoArticulo</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                @Html.DropDownListFor(x => x.ModeloId, new SelectList(ViewBag.cboModelo, "ModeloId", "Denominacion"))
                                <label for="ModeloId">Modelo</label>
                            </div>
                            <div class="input-field col s12 m12 l6">
                                <i class="mdi-av-play-arrow prefix"></i>
                                <label for="Denominacion">Denominacion*</label>
                                <input id="Denominacion" name="Denominacion" type="text" required value="@Model.Denominacion">
                            </div>
                            <div class="input-field col s12 m4 l2">
                                <i class="mdi-communication-vpn-key prefix"></i>
                                <label for="Codigo">Codigo*</label>
                                <input id="Codigo" name="Codigo" type="text" required value="@Model.Codigo">
                            </div>
                            <div class="input-field col s6 m4 l1">
                                <label for="Precio">Precio*</label>
                                <input id="Precio" name="Precio" type="number" required value="@Model.Precio">
                            </div>
                            <div class="input-field col s6 m4 l1">
                                <label for="Stock">Stock Inicial*</label>
                                <input id="Stock" name="Stock" type="number" required value="@Model.Stock">
                            </div>
                            <div class="input-field col s6 m3 l3">
                                <input type="checkbox" id="IndServicio" name="IndServicio" class="filled-in"  @if (Model.IndServicio) { <text> checked</text>} />
                                <label for="IndServicio">Servicio</label>
                            </div>
                            <div class="input-field col s6 m3 l3">
                                <input type="checkbox" id="Estado" name="Estado" class="filled-in"  @if (Model.Estado) { <text> checked</text>} />
                                <label for="Estado">Usuario activo</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <button class="btn waves-effect waves-light right" type="submit" data-ajax="true">
                                    Guardar
                                    <i class="mdi-action-done right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            @*fn.CargarCombo("@Url.Action("ComboModelo", "Comun")", "cboModelo", function () {
                $("#Denominacion").val($("#ModeloId option:selected").text() + " ").focus();
            });*@
            
            $("#ModeloId").change(function () {
                $("#Denominacion").val($("#ModeloId option:selected").text() + " ").focus();
            });
        });
    </script>
}