@model BE.articulo
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey hide-on-large-only">
        <i class="mdi-action-search active"></i>
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">GESTIÓN DE ARTICULOS</h5>
                <ol class="breadcrumbs">
                    <li><a href='@Url.Action("Index","Home")'>Inicio</a></li>
                    <li><a href="@Url.Action("Index","Articulo")">Articulos</a></li>
                    <li class="active">Mantenimiento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<div id="default-validation" class="section">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4 class="header2">Datos del nuevo articulo</h4>
                <div class="row">
                    <form id="formValidate" class="validar" method="post" action='@Url.Action("Guardar","Articulo",new { href = ViewBag.href })'>
                        <input type="hidden" name="ArticuloId" value="@Model.ArticuloId" />
                        <div class="row">
                            <div class="input-field col s12 m4 l2">
                                <i class="mdi-action-picture-in-picture prefix"></i>
                                <label for="DNI">Codigo*</label>
                                <input id="DNI" name="DNI" type="number" required minlength="8" maxlength="8" value="@Model.Codigo">
                            </div>
                            
                            <div class="input-field col s12 m4 l5">
                                @*@Html.DropDownListFor(x => x.Usuario.OficinaId, Model.Oficinas.Select(x => new SelectListItem { Value = x.OficinaId.ToString(), Text = x.Denominacion }))*@
                                @Html.DropDownList("cboTipoArticulo")
                                <label for="Articulo_TipoArticuloId">TipoArticulo</label>
                            </div>
                            <div class="input-field col s12 m4 l5">
                                @Html.DropDownListFor(x => x.ModeloId, new SelectList(ViewBag.cboModelo, "ModeloId", "Denominacion"))
                                <label for="Articulo_TipoArticuloId">Modelo</label>
                            </div>
                            <div class="input-field col s12 m12 l6">
                                <i class="mdi-action-account-circle prefix"></i>
                                <label for="Nombres">Denominacion*</label>
                                <input id="Nombres" name="Nombres" type="text" required value="@Model.Denominacion">
                            </div>
                            
                            
                            @*<div class="input-field col s6">
                                @Html.DropDownList("cboTipoArticulo")
                                <label for="Usuario_CargoId">Cargo</label>
                            </div>*@
                            <div class="input-field col s6 m4 l1">
                                
                                <label for="Paterno">Precio*</label>
                                <input id="Paterno" name="Paterno" type="text" required value="@Model.Precio">

                            </div>
                            <div class="input-field col s6 m4 l1">
                                <label for="Materno">Stock Inicial*</label>
                                <input id="Materno" name="Materno" type="text" required value="@Model.Stock">

                            </div>
                            <div class="input-field col s6 m4 l6">
                                <input type="checkbox" name="pActivo" class="filled-in" id="chkActivo" @if (Model.Estado) { <text> checked</text>} />
                                <label for="chkActivo">Usuario activo</label>
                            </div>
                            @*<div class="input-field col s12 m4 l3">
        <i class="mdi-action-settings-cell prefix"></i>
        <label for="Celular">Celular</label>
        <input id="Celular" name="Celular" type="text" minlength="9" value="@Model.Celular">

    </div>
    <div class="input-field col s12 m4 l6">
        <i class="mdi-communication-email prefix"></i>
        <label for="Correo">Correo</label>
        <input id="Correo" name="Correo" type="email" value="@Model.Correo">

    </div>
    <div class="input-field col s12 m4 l3">
        <i class="mdi-notification-event-note prefix"></i>
        <label for="nacimiento">Fecha Nacimiento</label>
        <input id="nacimiento" name="FechaNacimiento" type="text" class="datepicker" value="@(Model.FechaNacimiento.HasValue ?Model.FechaNacimiento.Value.ToShortDateString():"")">

    </div>
    <div class="input-field col s12 m8 l6">
        <i class="mdi-maps-pin-drop prefix"></i>
        <label for="txtdireccion">Direccion</label>
        <input id="txtdireccion" name="Direccion" type="text" value="@Model.Direccion">
    </div>
    <div class="input-field col s12 m12 l6">
        <i class="mdi-maps-pin-drop prefix"></i>
        <label for="txtReferencia">Referencia</label>
        <input id="txtReferencia" name="Referencia" type="text" value="@Model.Referencia">
    </div>
    <div class="col s12 m5 l6">
        <label for="genter_select">Sexo</label>
        <p>
            <input name="Sexo" type="radio" id="rbsexom" value="M" @if (Model.Sexo == "M") {  <text> checked</text> } />
            <label for="rbsexom">Masculino </label>

            <input name="Sexo" type="radio" id="rbsexof" value="F" @if (Model.Sexo == "F") {  <text> checked</text> } />
            <label for="rbsexof">Femenino </label>
        </p>
    </div>*@



                            <div class="input-field col s12 m12 l6">
                                <button class="btn waves-effect waves-light right" type="submit" data-ajax="true">
                                    Guardar
                                    <i class="mdi-action-done right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".datepicker").pickadate({ selectMonths: !0, selectYears: 50, format: 'dd/mm/yyyy' })
        });
    </script>
}