@model BE.programacion
<main>
    <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">PROGRAMACIÓN DE HORARIOS</h5>
                    <ol class="breadcrumbs">
                        <li><a href='@Url.Action("Index","Home")'>Inicio</a></li>
                        <li class="active">Programacion</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->
    <div id="default-validation" class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <div class="row">
                        <div id="full-calendar">
                            <div class="row">
                                <div class="col s12 m8 l10 offset-l1">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modalP" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="card-panel">

                    <div class="row">
                        <form id="formValidate" class="validar right-alert" method="post" action='@Url.Action("Guardar", "Programacion")'>
                            <input type="hidden" name="ProgramacionId" id="ProgramacionId" value="0" />

                            <div class="row">

                                <div class="input-field col s11  m5 l5">
                                    <input type="hidden" id="MedicoId" name="MedicoId" value="@Model.MedicoId" />
                                    <i class="mdi-action-search prefix"></i>
                                    <input id="autocompletar" type="text" placeholder="DNI/Apellidos"
                                           data-url='@Url.Action("ListarMedicos","Comun")'
                                           data-seleccion="MedicoId" value="@(Model.medico==null?"": Model.medico.persona.NombreCompleto)"
                                           @if (Model.ProgramacionId == 0) { <text> autofocus </text>                   }>
                                    <label class="right" for="autocompletar" data-error="No existe la persona." data-success="Excelente!!! Persona encontrada.">Buscar Medico</label>

                                </div>
                                <div class="input-field col s1 m1 l1">
                                    <a href='@Url.Action("Mantener", "Medico",new {id=0,href= Request.Url.AbsoluteUri })' class="btn btn-flat teal text white-text tooltipped " style="padding:8px; height:auto;line-height:25px" data-tooltip="Nuevo Médico"><i class="mdi-social-person-add"></i></a>
                                </div>
                                <div class="input-field col s6 m3 l3">
                                    <i class="mdi-notification-event-note prefix"></i>
                                    <input placeholder="" id="FechaInicio" name="FechaInicio" type="text" />
                                    <label for="FechaInicio">Fecha Inicio</label>

                                </div>
                                <div v-show="repite" class="input-field col s6 m3 l3">
                                    <label class="active" for="FechaLimite">Fecha Limite</label>
                                    <input id="FechaLimite" name="FechaLimite" type="text" class="datepicker" />
                                </div>
                                <div class="row"></div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DropDownListFor(x => x.HoraInicio, (IEnumerable<SelectListItem>)ViewBag.cboHoras)
                                    <label for="HoraInicio">Hora Inicio</label>
                                </div>
                                <div class="input-field col s12 m6 l3">
                                    @Html.DropDownListFor(x => x.HoraFin, (IEnumerable<SelectListItem>)ViewBag.cboHoras)
                                    <label for="HoraFin">Hora Fin</label>
                                </div>
                                @*<div class="input-field col s12 m4 l3">
                                    <select name="HoraInicio" id="HoraInicio">
                                        <option v-for="option in options" v-bind:value="option.value">
                                            {{ option.text }}
                                        </option>
                                    </select>
                                    <label>Hora Inicio</label>
                                </div>*@
                                @*<div class="input-field col s12 m4 l3">
                                    <select name="HoraFin" id="HoraFin">
                                        <option v-for="option in options" v-bind:value="option.value">
                                            {{ option.text }}
                                        </option>
                                    </select>
                                    <label>Hora Final</label>
                                </div>*@
                                <div class="input-field col s3 m3 l2">
                                    <input type="checkbox" name="pEstado" class="filled-in" id="chkActivo" checked />
                                    <label for="chkActivo">Activo</label>
                                </div>
                                <div class="input-field col s3 m3 l2">
                                    <input type="checkbox" v-model="repite" name="pRepite"  id="pRepite" class="filled-in"/>
                                    <label for="pRepite">Repite?</label>
                                </div>
                                <div v-show="repite" class="input-field col s3 m3 l2">
                                    <input type="checkbox" name="pRepiteSemana" id="pRepiteSemana" class="filled-in" />
                                    <label for="pRepiteSemana">Semanal?</label>
                                </div>
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light right" type="submit" data-ajax="true">
                                        Guardar
                                        <i class="mdi-action-done right"></i>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="modalMantener" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="col s12" id="mantenerProgramacion"></div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#calendar").fullCalendar("refetchEvents");
            var f = new Date();
            var fecha = f.getFullYear() + "-" + (f.getMonth() + 1) + "-" + f.getDate()
            $('#external-events .fc-event').each(function () {
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true, // maintain when user navigates (see docs on the renderEvent method)
                    color: '#00bcd4'
                });
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            });
            $('#calendar').fullCalendar({
                dayClick: function (date, jsEvent, view) {
                    var fecha = date.format();
                    $("#FechaInicio").attr("value", fecha);
                    $('#modalP').openModal();
                },
                eventClick: function (calEvent, jsEvent, view) {
                    window.location = '@Url.Action("Mantener", "Programacion")' + '/' + calEvent.id;
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,basicDay'
                },
                defaultDate: fecha,
                editable: true,
                droppable: false, // this allows things to be dropped onto the calendar
                eventLimit: true, // allow "more" link when too many events
                events: "@Url.Action("GetEvents", "Programacion")",

            });
        });

        var vprogramacion = new Vue({
            el: 'main',
            data: {
                repite: true,
            },
        })

    </script>
}