@model BE.paciente

<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey hide-on-large-only">
        <i class="mdi-action-search active"></i>
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">GESTIÓN DE PACIENTES</h5>
                <ol class="breadcrumbs">
                    <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
                    <li><a href="@Url.Action("Index", "Paciente")">Pacientes</a></li>
                    <li class="active">Mantenimiento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<div id="default-validation" class="section">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <div class="row">
                    <form id="formValidate" class="validar right-alert" method="post" action='@Url.Action("Guardar", "Paciente")'>

                        <input type="hidden" name="PacienteId" value="@Model.PacienteId" />
                        <div class="row">
                            <div class="input-field col s11  m5 l5">
                                <input type="hidden" id="PersonaId" name="PersonaId" value="@Model.PersonaId" />
                                <i class="mdi-action-search prefix"></i>
                                <input id="autocompletar" type="text"
                                       data-url='@Url.Action("ListarPersonas","Comun")'
                                       data-seleccion="PersonaId" value="@(Model.persona == null ? "" : Model.persona.NombreCompleto)" />
                                <label class="right" for="autocompletar" data-error="No existe la persona." data-success="Excelente!!! Persona encontrada.">Buscar Persona</label>
                            </div>
                            <div class="input-field col s1 ">
                                <a class="btn btn-floating tooltipped" data-tooltip="Crear Persona" data-position="left" href='@Url.Action("Mantener","Persona",new { id=0,href = Request.Url.AbsoluteUri })'>
                                    <i class="mdi-social-person-add"></i>
                                </a>
                            </div>
                            <div class="input-field col s12 m3 l3">
                                <i class="mdi-editor-format-list-numbered prefix"></i>
                                <label for="NumeroHistoria">Historia Clinica</label>
                                <input id="NumeroHistoria" name="NumeroHistoria" type="text" value="@Model.NumeroHistoria">
                            </div>
                            <div class="input-field col s12">
                                <i class="mdi-action-report-problem prefix"></i>
                                <label for="Alergia">Alergia</label>
                                <input id="Alergia" name="Alergia" type="text" value="@Model.Alergia">
                            </div>
                            <div class="input-field col s12">
                                <i class="mdi-notification-event-note prefix"></i>
                                <label for="AntecedentePersonal">Antecedente  Personal</label>
                                <input id="AntecedentePersonal" name="AntecedentePersonal" type="text" value="@Model.AntecedentePersonal">
                            </div>
                            <div class="input-field col s12">
                                <i class="mdi-notification-event-note prefix"></i>
                                <label for="AntecedenteFamiliar">Antecedente  Familiar</label>
                                <input id="AntecedenteFamiliar" name="AntecedenteFamiliar" type="text"  value="@Model.AntecedenteFamiliar">
                            </div>

                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light right" type="submit" data-ajax="true">
                                    Guardar
                                    <i class="mdi-action-done right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

}