@model BE.atencion
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#Resumen">Resumen</a></li>
            <li class="tab col s3"><a href="#Atencion">Atencion</a></li>
            <li class="tab col s3"><a  href="#Examenes">Examenes</a></li>
            <li class="tab col s3 "><a href="#Procedimientos">Procedimientos</a></li>
            <li class="tab col s3"><a href="#Recetas">Recetas</a></li>
        </ul>
    </div>
    <div id="Resumen" class="col s12"></div>
    <div id="Atencion" class="col s12"></div>
    <div id="Examenes" class="col s12"></div>
    <div id="Procedimientos" class="col s12"></div>
    <div id="Recetas" class="col s12"></div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.tabs').tabs();
            cargarTabs();
           
        });
        function cargarTabs() {
            var url1 = "@Url.Action("VistaResumen", "Atencion")" + "?id=" + @Model.AtencionId.ToString();
            var url2= "@Url.Action("VistaAtencion", "Atencion")" + "?id=" + @Model.AtencionId.ToString();
            var url3 = "@Url.Action("VistaExamen", "Atencion")" + "?id=" + @Model.AtencionId.ToString();
            var url4 = "@Url.Action("VistaProcedimiento", "Atencion")" + "?id=" + @Model.AtencionId.ToString();
            var url5 = "@Url.Action("VistaRecetas", "Atencion")" + "?id=" + @Model.AtencionId.ToString();
            $.get('@Url.Action("ObtenerUsuarioSesion", "Comun")', function (d) {
                if (d == 0) location.reload();
                $("#Resumen").load(url1);
                $("#Atencion").load(url2);
                $("#Examenes").load(url3);
                $("#Procedimientos").load(url4);
                $("#Recetas").load(url5);
            });
           
        };
       
    </script>
}