@model BE.atencionespecialidad
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey hide-on-large-only">
        <i class="mdi-action-search active"></i>
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">GESTIÓN DE ATENCIÓN</h5>
                <ol class="breadcrumbs">
                    <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
                    <li><a href="@Url.Action("Index", "Atencion")">Atencion</a></li>
                    <li class="active">Mantenimiento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
<div id="default-validation" class="section">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">

                <h4 class="header2">Datos personales</h4>
                <div class="row">
                    <form id="formValidate" class="validar right-alert" method="post" action='@Url.Action("Guardar", "AtencionEspecialidad")'>
                        <div class="row">
                            @{ int i = 0;}
                            @foreach (var item in ViewBag.listaRevision)
                            {
                            <input type="hidden" name="lista[@i].AtencionespecialidadId" value="@(Model.AtencionespecialidadId>0 ? ViewBag.listaTopico[i].AtencionespecialidadId : Model.AtencionespecialidadId)" />
                            <input type="hidden" name="lista[@i].AtencionId" value="@Model.AtencionId" />
                            <input type="hidden" name="lista[@i].Item" value="@item.Item" />
                            <input type="hidden" name="lista[@i].Denominacion" value="@item.Denominacion" />
                            <div class="input-field col s12 m3 l3">
                                <i class="mdi-av-my-library-add prefix"></i>
                                <label for="Correo">@item.Denominacion</label>
                                <input type="text" name="lista[@i].Valor" @if(Model.AtencionespecialidadId > 0) { <text> value="@ViewBag.listaTopico[i].Valor" </text>  }>
                            </div>
                                { i++; }
                            }

                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light right" type="submit" data-ajax="true">
                                    Atender
                                    <i class="mdi-action-done right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="work-collections" class="seaction">

                    <div class="row">

                        <div class="col s12 m4 l4">
                            <ul id="task-card" class="collection with-header">
                                <li class="collection-header cyan">
                                    <h4 class="task-card-title">EXÁMENES AUX.</h4>
                                    @*<p class="task-card-date">March 26, 2015</p>*@
                                </li>
                                <li class="collection-item dismissable">
                                    <input type="checkbox" id="task1" />
                                    <label for="task1">
                                        Informe Citólogico. <a href="#" class="secondary-content"><span class="ultra-small">Ver</span></a>
                                    </label>
                                    <span class="task-cat teal">Lab. Clínico</span>
                                </li>
                                <li class="collection-item dismissable">
                                    <input type="checkbox" id="task2" />
                                    <label for="task2">
                                        Examen de Orina Completa. <a href="#" class="secondary-content"><span class="ultra-small">Ver</span></a>
                                    </label>
                                    <span class="task-cat purple">Lab. Clínico</span>
                                </li>

                                <li class="collection-item dismissable">
                                    <input type="checkbox" id="task3" />
                                    <label for="task3">
                                        Hemograma Completo. <a href="#" class="secondary-content"><span class="ultra-small">Ver</span></a>
                                    </label>
                                    <span class="task-cat teal">Lab. Clínico</span>
                                </li>
                                <li class="collection-item dismissable">
                                    <input type="checkbox" id="task4" />
                                    <label for="task4">
                                        Resultado secreción Vaginal. <a href="#" class="secondary-content"><span class="ultra-small">Ver</span></a>
                                    </label>
                                    <span class="task-cat purple">Lab. Clínico</span>
                                </li>
                            </ul>
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light right" type="submit" data-ajax="true">
                                    GUARDAR
                                    <i class="mdi-action-done right"></i>
                                </button>
                            </div>
                        </div>

                        @if (true)
                        {
                            <div class="col s12 m4 l8">
                                <ul id="task-card" class="collection with-header">
                                    <li class="collection-header cyan">
                                        <h4 class="task-card-title">Tratamiento Recibido</h4>
                                        @*<p class="task-card-date">March 26, 2015</p>*@
                                    </li>
                                </ul>
                                <div class="card-panel">

                                    <form id="formValidate" class="validar right-alert" method="post" action='@Url.Action("Guardar","Medico")'>

                                        <input type="hidden" name="MedicoId" />
                                        <div class="row">
                                            <div class="input-field col s6 m3 l3">
                                                <i class="mdi-notification-event-note prefix"></i>
                                                <label for="FechaColegiacion">Fecha</label>
                                                <input id="FechaColegiacion" name="FechaColegiacion" type="text" class="datepicker">
                                            </div>
                                            <div class="input-field col s12 m3 l9">
                                                <i class="mdi-communication-email prefix"></i>
                                                <label for="Correo">Tratamiento Recibido</label>
                                                <input id="TituloProfesional" name="TituloProfesional" type="text">
                                            </div>
                                            <div class="input-field col s12 m6 l5">
                                                <i class="mdi-maps-pin-drop prefix"></i>
                                                <label for="Universidad">Evolución</label>
                                                <input id="Universidad" name="Universidad" type="text">
                                            </div>
                                            <div class="input-field col s12 m3 l4">
                                                <i class="mdi-action-settings-cell prefix"></i>
                                                <label for="NumeroColegio">Indicaciones</label>
                                                <input id="NumeroColegio" name="NumeroColegio" type="text">
                                            </div>
                                            <div class="input-field col s6 m3 l3">
                                                <i class="mdi-notification-event-note prefix"></i>
                                                <label for="FechaColegiacion">Próx. Cita</label>
                                                <input id="FechaColegiacion" name="FechaColegiacion" type="text" class="datepicker">
                                            </div>
                                            <div class="input-field col s3 offset-s6">
                                                <button class="btn waves-effect waves-light red" type="submit" data-ajax="true">
                                                    RECETAR
                                                    <i class="mdi-action-done right"></i>
                                                </button>
                                            </div>
                                            <div class="input-field col s6 m3 l3">
                                                <button class="btn waves-effect waves-light " type="submit" data-ajax="true">
                                                    Guardar
                                                    <i class="mdi-action-done right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>


                                </div>
                                <div class="input-field col s6 m3 l4">
                                    <button class="btn waves-effect waves-light blue" type="submit" data-ajax="true">
                                        VER HOSTORICO
                                        <i class="mdi-action-done right"></i>
                                    </button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col s12 m4 l8">
                                <ul id="task-card" class="collection with-header">
                                    <li class="collection-header cyan">
                                        <h4 class="task-card-title">Seguimiento Met. Anticonceptivo</h4>
                                        @*<p class="task-card-date">March 26, 2015</p>*@
                                    </li>
                                </ul>
                                <div class="card-panel">

                                    <form id="formValidate" class="validar right-alert" method="post" action='@Url.Action("Guardar","Medico")'>

                                        <input type="hidden" name="MedicoId" />
                                        <div class="row">
                                            <div class="input-field col s6 m3 l4">
                                                <i class="mdi-notification-event-note prefix"></i>
                                                <label for="FechaColegiacion">Fecha</label>
                                                <input id="FechaColegiacion" name="FechaColegiacion" type="text" class="datepicker">
                                            </div>
                                            <div class="input-field col s12 m3 l4">
                                                <i class="mdi-action-settings-cell prefix"></i>
                                                <label for="NumeroColegio">Peso(KG)</label>
                                                <input id="NumeroColegio" name="NumeroColegio" type="text">
                                            </div>
                                            <div class="input-field col s12 m3 l4">
                                                <i class="mdi-action-settings-cell prefix"></i>
                                                <label for="NumeroColegio">P.A.(KGmm Hg)</label>
                                                <input id="NumeroColegio" name="NumeroColegio" type="text">
                                            </div>
                                            <div class="input-field col s12 m3 l9">
                                                <i class="mdi-communication-email prefix"></i>
                                                <label for="Correo">Sintomatología Presenatda</label>
                                                <input id="TituloProfesional" name="TituloProfesional" type="text">
                                            </div>
                                            <div class="input-field col s6 m3 l3">
                                                <i class="mdi-notification-event-note prefix"></i>
                                                <label for="FechaColegiacion">Próx. Cita</label>
                                                <input id="FechaColegiacion" name="FechaColegiacion" type="text" class="datepicker">
                                            </div>
                                            <div class="input-field col s12">
                                                <button class="btn waves-effect waves-light right" type="submit" data-ajax="true">
                                                    Guardar
                                                    <i class="mdi-action-done right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>


                                </div>
                                <div class="input-field col s6 m3 l4">
                                    <button class="btn waves-effect waves-light blue" type="submit" data-ajax="true">
                                        VER HOSTORICO
                                        <i class="mdi-action-done right"></i>
                                    </button>
                                </div>
                            </div>
                        }


                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".datepicker").pickadate({ selectMonths: !0, selectYears: 50, format: 'dd/mm/yyyy' })
        });
    </script>
}





